@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --primary: 214 100% 51%;
    --primary-foreground: 0 0% 100%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 63%;
    --border: 0 0% 100% / 0.12;
  }
}

html, body, #root {
  height: 100%;
}
